<h1><center>Main Page</center></h1>

<h2><%= link_to 'Instructors', controller: 'instructors' %><br><br></h3>
<% @instructors.each do |instructor| %>
<p><%= link_to instructor.name, instructor_path(instructor)%></p>
<% end %>

<h2><%= link_to 'Students', controller: 'students' %><br><br></h3>
<% @students.each do |student| %>
<p><%= link_to student.name, student_path(student) %></p>
<% end %>

<h2><%= link_to 'Courses', controller: 'courses' %></h3>
<% @courses.each do |course| %>
<p><%= course.name %></p>
<% end %>
